<nav class="navbar navbar-dark sticky-top flex-md-nowrap p-0 base-layout__navbar">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0 base-layout__navbar_brand" routerLink="/">
    ООО "ЦИФРАЛ-СБ"
  </a>
  <span class="pl-3 w-100">Система учета домофонной компании</span>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link base-layout__navbar__profile" href="#">Вход</a>
    </li>
  </ul>
</nav>
<div class="container-fluid base-layout__main">
  <router-outlet></router-outlet>
</div>
