.base-layout {
  &__navbar {
    background-color: #23798b;
    &__profile {
      color: white;
    }
  }
  &__main {
    min-height: 100%;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
