<div class="overlay overlay-bg"></div>
<div class="container">
    <div class="row">
        <div class="col-md-6 login-form">
            <h3>АРМ менеджера (вход)</h3>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Имя пользователя *" value="" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Пароль *" value="" />
                </div>
                <div class="form-group">
                    <input type="submit" class="primary-btn banner-btn" value="Вход" />
                </div>
            </form>
        </div>
    </div>
</div>
