<div class="overlay overlay-bg"></div>
<div class="container">
    <div class="row">
        <div class="col-md-6 login-form">
            <h3>АРМ менеджера (вход)</h3>
            <form id="form-login" (ngSubmit)="signin()" role="form">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Имя пользователя *" name="username"
                           [(ngModel)]="model.username"/>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Пароль *" name="password"
                           [(ngModel)]="model.password" />
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-outline-primary" value="Вход" />
                </div>
            </form>
        </div>
    </div>
</div>
