<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar__content">
    <ul class="nav flex-column">
      <li *ngFor="let menuItem of menuItems" class="nav-link">
        <a class="nav-link sidebar__content__link" [routerLink]="[menuItem.path]" routerLinkActive="active">
          <span [attr.data-feather]="[menuItem.icon]"></span>{{menuItem.title}}
        </a>
      </li>
    </ul>
    <h6 class="d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Сохраненные отчеты</span>
      <a class="d-flex align-items-center text-muted" href="#">
        <i data-feather="plus-circle"></i>
      </a>
    </h6>
  </div>
</nav>
